seattle/data/labels.geojson
.ipynb_checkpoints/
_archive/
data/shared/labels-with-tags-chu.csv
oradell/_archive/
chicago/_archive/
seattle/_archive/
seattle/clustering-notebooks/_archive/
**/*.icloud
**/_archive/
**/cache/
**/.DS_Store
notebooks/seattle/user-study