seattle/data/labels.geojson
.ipynb_checkpoints/
_archive/
seattle/temp.ipynb
seattle/_archive/
seattle/data/_archive
seattle/data/source/all_attributes_new.json
data-shared/labels-with-tags-chu.csv
oradell/_archive/
chicago/_archive/
seattle/clustering-notebooks/_archive/